{% extends 'base.html' %}



{% block content %}
<div class="centerstage container">
    <div class="row">
       
        {% for post in post_list %}
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'blog:post_detail' pk=post.pk %}">
            <div class="card post-card">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top" alt="post image">
                {% endif %}
                <div class="card-body">
                <div class="card-title">
                <h4><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                </div>
                <div class="card-text">
                <div class="date">
                    <p>Published on: {{ post.published_date|date:"D M Y" }}</p>
                </div>
                <p><a href="{% url 'blog:post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a></p>
                </div> 
            </div>
            </div>
            </a>          
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}