{% extends 'blog/base.html' %}

{% block content %}
<div class="signup-container">
    {% if registered %}
        <h1>Thank you for registering!</h1>
        <h2><a href="{% url 'login' %}">To Login Press Here </a></h2>
    {% else %}
    <h2>Register Here!</h2>

    <form class="" enctype="multipart/form-data" method="POST" >
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p}}
        <input type="submit" class="btn btn-success form-btn" value="Register">
    </form>
    {% endif %}
</div>
{% endblock %}